html, body, *, body *, body * {

    max-width: 100% !important;
    overflow-x: hidden;
}

a {

    color: white !important;
}

#aboutright ul, li {

    list-style: disc !important;
}

#about ul, li {

    list-style: disc !important;
}

#titulo {


    text-align: center;
    padding: 20pt;
    color: white;
    margin: 0;
    text-shadow: 4px 4px #000000;
    font-weight: bold;



    
}

#subtitulo {


    text-align: center;
    padding: 20pt;
    color: white;
    margin: 0;
    text-shadow: 4px 4px #000000;
    font-weight: bold;

    
}

header {

    background: linear-gradient(to right,#3a0f38, #004f57); 
    margin: 0;
    border-bottom: 1px solid black;
    margin-bottom: 0;
}


body, html {

    margin: 0;
    padding: 0;
}

* {

    box-sizing: border-box;
}



#flexprojects {

    margin-right: 20pt;
    margin-left: 20pt;
    margin-top: 20pt;
    display: flex;
    justify-content: space-around;
    gap: 15pt;

}




.material-symbols-outlined {
    background-color: white;
    border-radius: 50%;
    padding: 10pt;
    margin: 10pt;
    position: fixed;
    bottom: 0;
    right: 10pt;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

@media (max-width: 991.98px) {

    html, body, *, body *, body * {

        max-width: 100% !important;
    }
    
    body {
        overflow-x: hidden !important;
      }
    

    .navbar-nav {
      margin-left: auto !important;
      margin-right: auto !important;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    .navbar-nav .nav-item {
      margin-top: 1rem;
    }
    
    .navbar-collapse {
      margin-top: 1rem;
    }
    
    .navbar-toggler {
      margin-left: auto;
      margin-right: 0;
    }

    #flexprojects {

        margin-top: 20pt;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 40pt;
        width: 100%;
    
    }

    #project1 {

        width: 80% !important;
    }


    #project2 {

        width: 80% !important;
    }

    .carousel-inner {

        height: 100% !important;
    }

    .carousel-item {

        height: 100% !important;
    }

    

  }
  


#projects h2 {

 color: white;
    text-align: center;
}

#projects {

    background-color: brown;
    padding-top: 30pt;
    height: 100vh;
}

#about {

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'labout rabout';
    height: 100vh;
    background-color: darkblue;
    color: white;
    padding-top: 20pt;
    padding-right: 50pt ;
}

h2 {

    overflow: hidden !important;
    color: white;
    margin: 0;
    text-shadow: 3px 3px #000000;
    font-weight: bold;
}

h5 {

    overflow: hidden !important;
}

#about * {

    overflow-x: visible !important;
}

#aboutleft {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

#contactleft {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

#contact img {

    display: block;
    width: 100px;
    height: 100px;
}



#contactright {

    padding: 30pt;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

#contactright p {

    float: left;
}

#contactright a, img {

    display: inline !important;
}

#logos {margin: 15pt;}

#contactright button {

    margin-top: 30pt;
    margin-bottom: 30pt;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#aboutright {

    padding-top: 15pt;
    text-align: justify;
    max-height:max-content;
}

#aboutright li {

    margin: 15pt;

}

#aboutright h3 {

    margin-top: 25pt;
    margin-bottom: 25pt;

}
#about h2 {
    margin: 0;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }



#aboutleft {

grid-area: labout;


}

#aboutright {
    grid-area: rabout;
    
    
    }

    #contact {

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'rcontact lcontact';
        height: 100vh !important;
        color: white;
        background-color: darkgreen;
    }

    @media (min-resolution: 120dpi) {

        #contact {

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 'rcontact lcontact';
            height: 100vh !important;
            color: white;
            background-color:darkgreen;
        }

     
        #projects {

            
            height: 50%;
            padding-bottom: 70pt;
        
        }

        #about {
            height: 80%;

            padding-bottom:50pt;
        }
    }
    
    
    #contactleft {
    grid-area: lcontact;
    
    
    }
    
    #contacttright {
        grid-area: rcontact;
        
        
        }



#botonesTarjeta {
    display: grid;
    grid-template-areas:
        'a1 a2'
        'a3 a3';
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 5pt;
}

#botonesTarjeta2 {
    display: grid;
    grid-template-areas:
        'a12 a22'
        'a32 a32';
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 5pt;
}


#a1 {
    grid-area: a1;
}

#a2 {
    grid-area: a2;
}

#a3 {
    grid-area: a3;
}

#a12 {
    grid-area: a12;
}

#a22 {
    grid-area: a22;
}

#a32 {
    grid-area: a32;
}


.navbar-collapse {
    margin-left: 60px;
  }
  


#readme {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10pt ;
    width: 100%;
}

.card-title {

    text-align: center;
}

#carousel {
    background-color: gray;
    height: 100% !important;

}

#carouselExampleCaptions {
    
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    height: 100vh;
    }
    

    .carousel-item {

        height: 100% !important;
    }
   
    .carousel-item img {
    opacity: 0.8;
    height: 100% !important;
    }
    
    .carousel-item img:hover {
    opacity: 0.6;
    }
    
    .carousel-caption {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.9 !important;
 }